html{
  background-color: black;
}

nav {
  background-color: black;
  opacity: 90%;
  text-align: left;
  position: fixed;
  width: 100%;
  height: auto;
}

nav a {
  text-decoration: none;
}

li{
  color: rgb(226, 74, 13);
}

nav ul {
  list-style: none;
}

h3{
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  color: white;
}

h5 {
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  color: white;
}

.title {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  color: rgb(226, 74, 13);
  font-size: 300%;
  text-align: center;
  padding:  40px;
}

.checkout {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  color: rgb(226, 74, 13);
  font-size: 250%;
  text-align: center;
  padding:  10px;
}

nav li {
  display: inline-block;
  margin: 15px;
  margin-top: 21px;
}

.logo {
  width: 50px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

.input{
  padding: 20px;
}

label {
  color: white;
  align-content: left;
  font-weight: 400;
}

.col-md{
  display: inline-block;
}

.row{
  padding: 8px;
}

.btn{
  background-color: rgb(226, 74, 13);
  color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgb(226, 74, 13)!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgb(190, 67, 18)
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: rgb(235, 173, 148); 
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid rgb(0, 0, 0);
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  background-color: white;
}

.number-input button:after {
  display: inline-block;
  position: absolute;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: '\f077';
  transform: translate(-50%, -50%) rotate(180deg);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.number-input input[type=number] {
  font-family: 'Prompt', sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid rgb(0, 0, 0);
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

.checkoutname{
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
  color: black;
}

.subcheckout{
  font-family: 'Prompt', sans-serif;
  color: black;
}



/*Kate's Part*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer{
  padding: 50px;
  background-color: rgb(248, 215, 175);
  
}

.socialinks {
  text-align: center;
  padding-bottom: 25px;
  color: brown;

}

.socialinks a{
  font-size: 40px;
  color:inherit;
  width: 80px;
  display: inline-block;
  
}
.socialinks a:hover{
  color: rgb(212, 131, 8);
  opacity: 0.8;
}

.list {
  
  font-size: 20px;
  font-family: 'Prompt';
  text-align: center;
  color: brown;
}

.list a:hover{
  color: rgb(212, 131, 8);
}

.list a{
  color: inherit;
  text-decoration: none;
  padding: 0 25px;
 margin-bottom: 30px;
}

.emailbox{
  font-family: 'Prompt';
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.emailbox i{
  color: rgb(77, 20, 20);
  background-color: rgb(207, 156, 80);
  width: 50px;
  line-height: 60px;
  text-align: center;
}

.emailbox button, input{
border: none;
outline: none;
}

.emailbox button{
  background: rgb(207, 156, 80);
  padding:0 20px;
  height: 60px;
  color:rgb(77, 20, 20);
  font-size: 20px;
}

.inputemail{
  width: 0px;
  transition: 0.8s;
}

.email{
  line-height: 45px;
  border: none;
  outline: none;
}

.email:hover> input,input:focus{
  width: 300px;
  padding: 0 10px;
}
 
